@keyframes blink {
    0% {  content: "|";}
    33% {  content: ".|"; }
    66% {  content: "..|"; }
    90% {  content: "...|"; }
}

.blinking::after {
    content: "...";
    display: inline-block;
    animation: blink 1s steps(1) infinite;
}
  
/* Border Glow Effect */
@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  
  :root {
    --clr-1: #ff4545;
    --clr-2: #00ff99;
    --clr-3: #006aff;
    --clr-4: #ff0095;
    --clr-5: #FF5F1F;
  }
  
  .cards {
   
    background: var(--clr-1);
    border-radius: 0.5rem;
  
    position: relative;
  }
  
  .cards::before,
  .cards::after {
    content: "";
    position: absolute;
    inset: -0.5rem;
    z-index: -1;
    background: conic-gradient(
      from var(--gradient-angle),
      var(--clr-3),
      var(--clr-2),
      var(--clr-5),
      var(--clr-4),
      var(--clr-3)
    );
    border-radius: inherit;
    animation: rotation 20s linear infinite;
  }
  
  .cards::after {
    filter: blur(3.5rem);
  }
  
  @keyframes rotation {
    0% {
      --gradient-angle: 0deg;
    }
    100% {
      --gradient-angle: 360deg;
    }
  }
  